/* * Cursos style * */
.clickable-element {
    cursor: pointer;
}

/* *  Position carousel section * */
#carousel {
    position: relative;

}

/* * Properties to make the image visible according to the index * */
#carousel img {
    display: none;
}
#carousel img.active {
    display: inline-block;
}

/* * Slider selector style * */
#slider-selector {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 28px;
    padding: 10px 20px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

#slider-selector > .dot-selector {
   padding: 10px;
    border-radius: 50%;
    background-color: white;
}

#slider-selector .active {
    background-color: blue;
}